# Ignore the Vosk model folder
backend_python/models/vosk-model-small-en-us-0.15/
backend_python/models/vosk-model-tl-ph-generic-0.6/

backend_python/.venv/
backend_python/models/
backend_python/311venv/
mobile_flutter\lib\services\endpoint.dart
backend_python/311venvB/
backend_python/311venvMain/

